body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f7fbf9;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}


.sidebar div {
  cursor: pointer;
  font-size: 18px;
}

.sidebar .active {
  font-weight: bold;
  color: green;
}

/* PAGE CONTENT */
.page-content {
  flex: 1;
  padding: 20px;
}

/* CARDS */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  min-width: 120px;
}

/* PROFILE */
.profile-page {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profile-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* AUTH */
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
}

.auth input {
  padding: 8px;
  width: 200px;
}

.auth button {
  padding: 8px 15px;
}